.start {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}

.start__section {
  width: 264px;
  height: 248px;
}

.start__configure-logo {
  margin: 0 0 32px;
}

.start__text {
  margin: 0 0 24px;
  line-height: 16.25px;
}
