.header__tool-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 64px;
}
.header {
  margin-bottom: 8px;
}
.history > div {
  margin-bottom: 8px;
}
.history > .button {
  margin-bottom: 20px;
  width: 100%;
}
@media (min-width: 769px) {
  .header__tool-buttons {
    min-width: 133px;
  }
  .history > .button {
    line-height: 28px;
    font-size: 13px;
    padding: 0 13px;
    width: 92px;
  }
}
