.header__tool-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 64px;
}
.history > div {
  margin-bottom: 8px;
}
.history > .button {
  margin-bottom: 20px;
}
@media (min-width: 321px) {
  .header__tool-buttons {
    min-width: 133px;
  }
}
