html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'YS Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  letter-spacing: 0.06px;
  height: 100%;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  max-width: 824px;
  margin: 0 16px;
}

@media (min-width: 856px) {
  .container {
    width: 824px;
    margin: 0 auto;
  }
}
