body {
  margin: 0;
  font-family: "YS Text", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 16px;
}

.container {
  max-width: 824px;
  margin: 0 16px;
}

@media (min-width: 856px) {
  .container {
    margin: 0 auto;
  }
}
